/* ===========================
     FUENTES PERSONALIZADAS
=========================== */
@font-face {
    font-family: 'Montserrat';
    src: url("./Materiales/Fuentes/Montserrat-VariableFont_wght.ttf") format('truetype');
  }
  
  /* ===========================
       RESET Y CONFIGURACIONES BÁSICAS
  =========================== */
  html, body {
    margin: 0;
    overflow: hidden; /* Desactiva el scroll */
    font-family: 'Montserrat';
  }
  
  body {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  /* ===========================
       ESTILOS DEL HEADER
  =========================== */
  header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f4f4f4;
    border-bottom: 2px solid black;
    z-index: 1000;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espaciado entre logo y menú */
    padding: 10px 40px;
    box-sizing: border-box;
  }
  
  /* Logo dentro del header */
  .logo-container {
    display: flex;
  }
  
  .logo {
    max-height: 40px;
    width: auto;
    margin-right: 10px;
  }
  
  /* Menú de navegación dentro del header */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 85px; /* Espaciado entre elementos del menú */
    align-items: center;
  }
  
  nav ul li {
    padding: 5px 0;
  }
  
  nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: all 0.3s ease; /* Animación suave para interacciones */
  }
  
  nav ul li a:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el ratón */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8), 
                 0 0 12px rgba(255, 255, 255, 0.6);
  }
  

  /* ===========================
     SECCIONES CON IMÁGENES DE FONDO
=========================== */


main section {
  height: 100vh; /* Altura completa del viewport */
  margin: 0;
  background-size: cover; /* Asegura que la imagen cubra toda el área */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* No repite la imagen */
}

/* Fondos personalizados para cada sección */

#CharlieBG {
  background-image: url('./Materiales/Imagenes/B01\ Charlie.png');
}

#P-A {
  position: relative;
  left: 730px;
  margin-top: 650px;
}

#P-R {
  position: relative;
  left: 630px;
  margin-top: 600px;
}

#TiempoBG {
  background-image: url('./Materiales/Imagenes/B02\ Tiempo.png');
}

#FilmografiaBG {
  background-image: url('./Materiales/Imagenes/B03\ Filmografia.png');
}

#ProyectosBG {
  background-image: url('./Materiales/Imagenes/B04\ Proyectos.png');
}

#RoomBG {
  background-image: url('./Materiales/Imagenes/B06\ Room.png');
}

#ContactosBG {
  background-image: url('./Materiales/Imagenes/B05\ Contactos.png');
}