/* 
   Nombre del archivo: B.css
   Descripción: Sitio oficial de Club Benares
   Autor: Charlie Chaves
   Fecha de creación: 17 de marzo de 2024
   Versión: 1.0
*/

body 
    {background-color: black;}
 

@font-face 
    {font-family: Montserrat;
     src: url('./Fuentes/Montserrat-VariableFont_wght.ttf');}

@font-face 
    {font-family: Extenda;
     src: url('./Fuentes/extenda-30-deca.ttf');}

@font-face 
    {font-family: Afrah;
     src: url('./Fuentes/Afrah_Font/TTF/Afrah-Light.ttf');}

@font-face 
    {font-family: Day;
     src: url('./Fuentes/A\ DAY\ WITHOUT\ SUN.ttf');}




/* MENU CLUB BENARES */

.LOGO 
    {position: absolute;
     text-decoration: none;
     font-family: Extenda;
     color: white;
     top: 5px;
     left: 90px;
     font-size: 48px;
     background-color: transparent;
     border: none;}

.logo-img 
    {position: absolute;
     left: -75px;
     top: 2px;   
     width: 100px;
     height: auto;}

.MENU a:active 
    {transform: scale(0.95);}
      
.MENU1,
.MENU2,
.MENU3,
.MENU4,
.MENU5,
.MENU6,
.MENU7,
.MENU8,
.MENU9,
.MENU10 
{position: absolute;
 position: fixed;
color: white;
font-family: Montserrat;
background-color: transparent;
border: none;
cursor: pointer;
text-decoration: none;
z-index: 1000;
top: 28px;}

        .MENU a:active 
        {transform: scale(0.95);}

        .MENU1
        {left: 290px;
         font-size: 10px;}
            
        .MENU2
        {left: 430px;
         font-size: 10px;}

        .MENU3
        {left: 570px;
         font-size: 10px;}

        .MENU4
        {left: 710px;
         font-size: 10px;}

        .MENU5
        {left: 910px;
         font-size: 10px;}

        .MENU6
        {left: 1050px;
         font-size: 10px;}

        .MENU7
        {left: 1263px;
         font-size: 10px;}

        .MENU8
        {left: 1440px;
         font-size: 10px;}

        .MENU9
        {left: 1625px;
         font-size: 10px;}

        .MENU10
        { left: 1730px;
         font-size: 10px;}

        .linea 
        {position:absolute;
         left: -10px;
         width: 100%;
         height: 1px; 
         background-color: white; 
         position: fixed;
         top: 62px; 
         z-index: 999;}


 /* TELEVISION */

        #TVOFF
        {position: absolute;
         width: 1300px;
         left: 280px;
         top: 80px;
         z-index: 1200;}
        
        #TVON
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 1150;}


 /* MENU #1 */

        #TV1-BG
        {position: absolute;
         width: 1300px;
         left: 280px;
         top: 80px;
         z-index: 850;}

        /* SLOT #1 */     
        #TV1S1-Fecha
        {position: absolute;
         width: 230px ;
         height: 20px;
         top: 275px;
         left: 557px;
         z-index: 851;
         background-color: transparent;
         border: none;
         font-family: 'Courier New', Courier, monospace;
         font-size: 11px;
         color: white;
         text-align: left}

        #TV1S1-Tiempo
        {position: absolute;
         width: 230px ;
         height: 20px;
         top: 275px;
         left: 557px;
         z-index: 851;
         background-color: transparent;
         border: none;
         font-family: 'Courier New', Courier, monospace;
         font-size: 11px;
         color: white;
         text-align: right}

        #TV1S1-Titulo
        {position: absolute;
          width: 230px ;
          height: 20px;
          top: 296px;
          left: 557px;
          z-index: 851;
          background-color: transparent;
          border: none;
          font-family: Afrah;
          font-size: 14px;
          font-weight: bold;
          color: white;
          text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
          text-align: left}
 
        #TV1S1-Autor
        {position: absolute;
          width: 230px ;
          height: 20px;
          top: 312px;
          left: 557px;
          z-index: 851;
          background-color: transparent;
          border: none;
          font-family: 'Courier New', Courier, monospace;
          font-size: 11px;
          font-weight: bold;
          color: white;
          text-align: left}

        #TV1S1-Sinopsis
        {position: absolute;
           width: 230px ;
           height: 93px;
           top: 335px;
           left: 557px;
           z-index: 851;
           background-color: transparent;
           border: none;
           font-family: 'Courier New', Courier, monospace;
           font-size: 11px;
           color: white;
           text-align: left}

        #TV1S1-Poster
        {position: absolute;
         width: 100px;
         top: 281px;
         left: 445px;
         z-index: 851;}
         #TV1S1-Poster:hover
         {cursor: pointer;}

 #INXfondo {position: absolute;
    width: 1300px;
    left: 280px;
    top: 80px;
    z-index: 1200;}

        /* SLOT #2 */ 
        #TV1S2-Fecha
        {position: absolute;
          width: 230px ;
          height: 20px;
          top: 275px;
          left: 1000px;
          z-index: 851;
          background-color: transparent;
          border: none;
          font-family: 'Courier New', Courier, monospace;
          font-size: 11px;
          color: white;
          text-align: left}
  
        #TV1S2-Tiempo
        {position: absolute;
          width: 230px ;
          height: 20px;
          top: 275px;
          left: 1000px;
          z-index: 851;
          background-color: transparent;
          border: none;
          font-family: 'Courier New', Courier, monospace;
          font-size: 11px;
          color: white;
          text-align: right}
 
       
         
        #TV1S2-Autor
        {position: absolute;
           width: 230px ;
           height: 20px;
           top: 312px;
           left: 1000px;
           z-index: 851;
           background-color: transparent;
           border: none;
           font-family: 'Courier New', Courier, monospace;
           font-size: 11px;
           font-weight: bold;
           color: white;
           text-align: left}
 
        #TV1S2-Sinopsis
        {position: absolute;
            width: 235px ;
            height: 93px;
            top: 335px;
            left: 1000px;
            z-index: 851;
            background-color: transparent;
            border: none;
            font-family: 'Courier New', Courier, monospace;
            font-size: 11px;
            color: white;
            text-align: left}
 
        #TV1S2-Poster
        {position: absolute;
          width: 100px;
          top: 281px;
          left: 890px;
          z-index: 851;}
        #TV1S2-Poster:hover
        {cursor: pointer;}

 #EACfondo {position: absolute;
    width: 1300px;
    left: 280px;
    top: 80px;
    z-index: 1200;}


        /* SLOT #3 */
        #TV1S3-Empty
        {position: absolute;
         top: 510px;
         left: 580px;
         z-index: 851;
         font-size: 20px;
         font-family: 'Courier New', Courier, monospace;
         background-color: transparent;
         border: none;
         color: white;}

        /* SLOT #4 */
        #TV1S4-Empty
        {position: absolute;
         top: 510px;
         left: 1030px;
         z-index: 851;
         font-size: 20px;
         font-family: 'Courier New', Courier, monospace;
         background-color: transparent;
         border: none;
         color: white;}



 /* MENU #2 */

        #TV2-BG 
        {position: absolute;
         width: 1300px;
         left: 280px;
         top: 80px;
         z-index: 855;}

        
         /* SLOT #1 */  
         #TV2S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 856;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV2S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 856;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV2S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 856;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV2S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 856;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
  

/* MENU #3 */

        #TV3-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 860;}

         /* SLOT #1 */  
         #TV3S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 861;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV3S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 861;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV3S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 861;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV3S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 861;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}

   

/* MENU #4 */

        #TV4-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 865;}

         /* SLOT #1 */  
         #TV4S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 866;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV4S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 866;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV4S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 866;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV4S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 866;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}


/* MENU #5 */

        #TV5-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 870;}

         /* SLOT #1 */  
         #TV5S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 871;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV5S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 871;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV5S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 871;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV5S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 871;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}


/* MENU #6 */

        #TV6-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 875;}

         /* SLOT #1 */  
         #TV6S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 876;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV6S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 876;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV6S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 876;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV6S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 876;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}


/* MENU #7 */

        #TV7-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 880;}

         /* SLOT #1 */  
         #TV7S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 881;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV7S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 881;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV7S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 881;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV7S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 881;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}


/* MENU #8 */

        #TV8-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 885;}

         /* SLOT #1 */  
         #TV8S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 886;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV8S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 886;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV8S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 886;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV8S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 886;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}


/* MENU #9 */

        #TV9-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 890;}

         /* SLOT #1 */  
         #TV9S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 891;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV9S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 891;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV9S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 891;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV9S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 891;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}


/* MENU #10 */

        #TV10-BG 
        {position: absolute;
            width: 1300px;
            left: 280px;
            top: 80px;
            z-index: 895;}

         /* SLOT #1 */  
         #TV10S1-Empty
         {position: absolute;
          top: 340px;
          left: 580px;
          z-index: 896;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
       
         /* SLOT #2 */ 
         #TV10S2-Empty
         {position: absolute;
          top: 340px;
          left: 1030px;
          z-index: 896;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
 
         /* SLOT #3 */  
         #TV10S3-Empty
         {position: absolute;
          top: 510px;
          left: 580px;
          z-index: 896;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
         
         /* SLOT #4 */ 
         #TV10S4-Empty
         {position: absolute;
          top: 510px;
          left: 1030px;
          z-index: 896;
          font-size: 20px;
          font-family: 'Courier New', Courier, monospace;
          background-color: transparent;
          border: none;
          color: white;}
        
        .images-container img 
        {display: none;}

 
        #BUTTON
        {position: absolute;
         background: transparent;
         border: none;
         left: 1190PX;
         top: 780px;
         z-index: 1250;
         cursor: pointer;}  
         
        #Previous 
        {position: absolute;
        top: 633px;
        left: 530px;
        width: 183px;
        height: 33px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        background-color: #363636;
        border: 2px solid black;
        z-index: 1100;
        cursor: pointer;}
     
        #Top 
        {position: absolute;
         top: 633px;
         left: 747px;
         width: 183px;
         height: 33px;
         color: white;
         font-family: 'Courier New', Courier, monospace;
         background-color: #363636;
         border: 2px solid black;
         z-index: 1100;
         cursor: pointer;}     
        
        #Next 
        {position: absolute;
          top: 633px;
          left: 964px;
          width: 183px;
          height: 33px;
          color: white;
          font-family: 'Courier New', Courier, monospace;
          background-color: #363636;
          border: 2px solid black;
          z-index: 1100;
          cursor: pointer;}

        #BackEAC 
        {position: absolute;
           top: 633px;
           left: 747px;
           width: 183px;
           height: 33px;
           color: white;
           font-family: 'Courier New', Courier, monospace;
           background-color: #363636;
           border: 2px solid black;
           z-index: 1210;
           cursor: pointer;}     
         
        #BackINX 
        {position: absolute;
          top: 633px;
          left: 747px;
          width: 183px;
          height: 33px;
          color: white;
          font-family: 'Courier New', Courier, monospace;
          background-color: #363636;
          border: 2px solid black;
          z-index: 1210;
          cursor: pointer;}
    

        